$field-width: 20em;

.contact-form {
  display: grid;
  
  .required-field {
    color: var(--text-required-color);
  }

  div {
    margin: 1em auto;
  }

  input {
    min-width: $field-width;
  }

  textarea {
    min-width: $field-width;
  }
  
  button {
    max-width: 10em;
    padding: 0.5em 2em;
  }
}