// --- concerts in Home ---

.concerts-home-section {
  margin-top: 4em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1pt solid var(--card-outline-color);
  border-bottom: 1pt solid var(--card-outline-color);
  @media (min-width: $mobileBreakSize) {
    margin-top: 12em;
    padding: inherit;
  }
  h2 {
    text-align: center;
  }
}

.concert-cards {
  display: grid;
  grid-template-columns: repeat($cardColumnSize);
  grid-gap: 0.5 * $cardColumnGap;
  justify-content: center;
  padding-bottom: $cardPadding;
  @media (min-width: $mobileBreakSize) {
    grid-template-columns: repeat($numOfCards, $cardColumnSize);
    grid-gap: $cardColumnGap;
  }
}
.concert-card {
  padding: $cardPadding;
  height: $cardSize;
  border: 1px solid var(--card-outline-color);
  border-radius: 3%;
  background-color: rgba(0, 0, 0, 0.8);
}
.concert-card-image-container {
  display: flex;
  justify-content: center;
}
.concert-card-image {
  width: 0.8 * $cardImageWidth;
  height: $cardImageHeight;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  object-fit: fill;
  @media (min-width: $mobileBreakSize) {
    padding-inline-start: inherit;
    padding-inline-end: inherit;
    width: $cardImageWidth;
    object-fit: scale-down;
  }
}
.concert-card-calendar-add {
  width: 0;
  text-align: right;
  font-size: large;
  z-index: 2;
  @media (min-width: $mobileBreakSize) {
    font-size: x-large;
  }
}
.concert-card-tagline{
  padding-top: 0.5 * $cardPadding;
  text-align: center;
  overflow: hidden;
  @media (min-width: $mobileBreakSize) {
    padding-top: $cardPadding;
  }
}
.concert-card-title {
  font-style: italic;
}
.concert-card-time{}
.concert-card-location{}

// --- concerts in Concerts ---

.concert-list {
  margin-top: 1em;
}

.concert-row {
  display: grid;
  grid-gap: 1em;
  border-top: 2px solid;
  padding-top: 1em;
  padding-bottom: 1em;
}
.concert-single-info {
  display: inline-flex;
  align-items: center;
  padding: 0em 0.5em 1.5em;
  gap: 1em;
}
.concert-title {
}
.concert-summary {
}
.concert-date {
  text-align: center;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr .1fr;
  grid-gap: .5em;
}
.concert-calendar-link {
  grid-column: 2;
}

@media (min-width: $mobileBreakSize) {
  .concert-row {
    grid-template-columns: 2fr 1fr 1fr 4fr 1fr;
    grid-gap: 1em;
  }
  .concert-location {
    text-align: center;
  }
}

.post-navigation {
  margin-top: 1.5em;
  font-style: italic;
}
