@mixin default-body() {
  font-family: var(--sans-serif);
  color: var(--text-color);
  display: grid;
  grid-template-rows: min-content 1fr auto;
  background-size: cover;
  background-position: bottom center;
  overflow-x: hidden;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  @include default-body;
}

main {
  padding: 1em;
}

/*
p
h1, h2, h3, h4, h5
ul and ol
The table properties
Links
*/

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
