.banner-image-container {
  padding: 2em 0em;
}

.banner-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.image-gallery {
  @include default-gallery;
}
.image-card {
  @include default-card;
}

