:root {
  --sans-serif: 'Poppins', sans-serif;

  --text-color: #e4e5e6;
  --text-required-color: #f75858;
  --background-color: #2c2c2d;
  --link-color: #c8f596;
  --caption-text-color: #999999;

  --nav-background: #ffffff3f;
  --nav-underline-default: #ffffff00;
  --nav-text-focus: #ffffff7f;
  --nav-underline-focus: #ffffff7f;
  --nav-underline-active: #ffffffff;
  
  --footer-text-color: #818385;
  --footer-background-color: #090909;
  --footer-social-color: #e9f8bb;
}