@import 'root-variables.scss';
@import 'modern-reset.scss';
@import 'general-styles.scss';
@import 'typography.scss';
@import 'navigation.scss';
@import 'utility.scss';
@import 'media-shared.scss';
@import 'pictures.scss';
@import 'videos.scss';
@import 'contact-form';
@import 'concert';
@import 'footer';

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  /* HACK */
  min-width: 1rem;
  max-width: 4rem;
  min-height: 1rem;
  max-height: 4rem;
}

.body-home {
  @include default-body;
  {{ partial "helpers/background-image.scss" "images/home-background.jpg" }}
  .title {
    text-align: right;
    margin-right: 1em;
    @media (max-width: $mobileBreakSize) {
      font-size: 2rem;
      margin-right: .1em;
    }
  }
}

.body-page {
  @include default-body;
  background: var(--background-color);
}

.body-not-found {
  @include default-body;
  background: var(--background-color);
  {{ partial "helpers/background-image.scss" "images/404-background.jpg" }}
}

.not-found-message {
  font-size: 5rem;
  text-align: center;
//  text-shadow: 6px 6px 0px rgba(0,0,0,0.9);
  text-shadow: 0px 3px 0px #1f1f1f,
                4px 14px 10px rgba(0,0,0,0.90),
                6px 24px 2px rgba(0,0,0,0.7),
                8px 34px 30px rgba(0,0,0,0.3);
}

.social-media-button {
}
