{{ define "main" }}
<div class="container">
<h1>{{ i18n "concerts" }}</h1>
{{ range .Pages.GroupByParamDate "eventDateTime" "2006" }}
<section class="concerts-header">
  <h2>{{ .Key }}</h2>
  <div class="concert-list">
    {{- range .Pages }}
    <article class="concert-row">
      <div class="concert-title"><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      {{ partial "concerts/concert-info.html" . }}
      <div class="concert-summary">{{ .Summary }}</div>
      <div class="concert-share">
        {{- partial "social-sharing.html" . }}
      </div>
    </article>
    {{- end }}
  </div>
</section>
{{ end }}
</div>
{{ end }}