{{ define "main" }}
<article class="container">

<h1 class="display-1" >{{ .Title }}</h1>
{{ $title := .Title }}
{{ with .Resources.GetMatch "*.jpg" }}
<div class="banner-image-container">
<img class="banner-image" src='{{ .RelPermalink }}' title="{{ $title }}" />
</div>
{{ end }}
<div class="concert-single-info">
{{ partial "concerts/concert-info.html" . }}
{{ partial "social-sharing.html" . }}
</div>

{{ .Content }}

</article>

<div class="post-navigation" id="prevNextNav">
  {{ with .PrevInSection }}
    {{ i18n "prev-in-section" }}<a class="previous" href="{{.Permalink}}">{{.Title}}</a>
  {{ end }}
  {{ with .NextInSection }}
  {{ i18n "next-in-section" }}<a class="next" href="{{.Permalink}}">{{.Title}}</a>
  {{ end }}
</div>
{{ end }}