{{ $originalBackgroundImage := resources.Get . }}
{{ $mobilew := default "375x" }}
{{ $tabletw := default "768x" }}
{{ $desktopw := default "1440x" }}
{{ $mobileBackgroundImage := $originalBackgroundImage.Resize $mobilew }}
{{ $tabletBackgroundImage := $originalBackgroundImage.Resize $tabletw }}
{{ $desktopBackgroundImage := $originalBackgroundImage.Resize $desktopw }}

  background-size: cover;
  background-image: url('{{ $mobileBackgroundImage.RelPermalink }}');
  @media (min-width: $mobileBreakSize) {
    background-position: center center;
    background-image: url('{{ $tabletBackgroundImage.RelPermalink }}');
  }
  @media (min-width: $tabletBreakSize) {
    background-position: top center;
    background-image: url('{{ $desktopBackgroundImage.RelPermalink }}');
  }
  @media (min-width: $bigScreenBreakSize) {
    background-position: top center;
    background-image: url('{{ $originalBackgroundImage.RelPermalink }}');
  }
