{{- $title := .Title -}}
{{- $url := printf "%s" .Permalink | absLangURL -}}
{{- $body := print $title "\n" .Summary  "\nfrom " .Site.Title "\n\n" $url "\n" -}}
{{- $page := . -}}
{{- .Scratch.Set "title" $title -}}
{{- .Scratch.Set "url" $url -}}
{{- .Scratch.Set "body" $body -}}
<span class="social-media-sharing">
  {{ i18n "share-button-desc" }}
  {{- range $value := site.Params.socialsharing -}}
  {{- $partial := printf "social-sharing/%s.html" $value -}}
  {{ partial $partial $page }}
  {{- end -}}
</span>