{{- $title := .Title -}}
{{- $url := printf "%s" .Permalink | absLangURL -}}
{{- $body := print $title "\n" .Summary  "\nfrom " .Site.Title "\n\n" $url "\n" -}}
<span class="social-media-sharing">
  {{ i18n "share-button-desc" }}
  <!-- Twitter -->
  <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" class="social-media-sharing-button twitter" target="_blank" rel="noopener"
    aria-label='{{ i18n "share-button-label" }} Twitter'>
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer.php?u={{ $url }}" class="social-media-sharing-button facebook" target="_blank" rel="noopener"
    aria-label='{{ i18n "share-button-label" }} Facebook'>
    <i class="fab fa-facebook" aria-hidden="true"></i>
  </a>
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?url={{ $url }}&title={{ $title }}" class="social-media-sharing-button linkedin" target="_blank" rel="noopener"
    aria-label='{{ i18n "share-button-label" }} LinkedIn'>
    <i class="fab fa-linkedin" aria-hidden="true"></i>
  </a>
  <!-- WhatsApp -->
  <a href="https://api.whatsapp.com/send?text={{ $title }} {{ $url }}" class="social-media-sharing-button whatsapp" target="_blank" rel="noopener"
    aria-label='{{ i18n "share-button-label" }} WhatsApp'>
    <i class="fab fa-whatsapp" aria-hidden="true"></i>
  </a>
  <!-- Mail -->
  <a href="mailto:?subject={{ $title }}&body={{ $body }}" class="social-media-sharing-button email" target="_blank" rel="noopener"
    aria-label='{{ i18n "share-button-label" }} Mail'>
    <i class="fa-solid fa-envelope-open-text" aria-hidden="true"></i>
  </a>
</span>