{{ define "bodyClass" }}body-home{{ end }}
{{ define "main" }}

<h1 class="title">{{ .Site.Title }}</h1>

<section class="concerts-home-section">
  <h2>{{ i18n "recent-concerts" }}</h2>
  <div class="concert-cards">
  {{- $concerts := where site.RegularPages "Section" "concerts" -}}
  {{- range first 3 ($concerts.ByParam "eventDateTime").Reverse -}}
    {{ partial "concerts/concert-card.html" . }}
  {{- end -}}
  </div>
</section>

<section class="videos-home-section">
  <h2>{{ i18n "featured-videos" }}</h2>
  <div class="video-cards">
  {{ $videos := where site.RegularPages "Section" "videos" -}}
  {{- $videos = where $videos "Params.featured" true -}}
  {{- range first 3 $videos.ByDate.Reverse -}}
    {{ partial "videos/video-card.html" . }}
  {{- end -}}
  </div>
</section>

<section class="bio-home-section">
  {{- range where site.RegularPages "Type" "bio" -}}
  <h2>{{ .Title }}</h2>
  <article class="bio-text">
    {{ chomp .Content }}
  </article>
  {{- end }}
</section>

{{ end }}