{{ define "main" }}
<div class="container">
<h1>{{ i18n "videos" }}</h1>

<div class="video-gallery">
{{ range where .Site.RegularPages "Section" .Section }}
  {{- $image := (index (.Resources.ByType "image") 0) -}}
  {{- $imagetitle := .Title -}}
  <article class="video-gallery-card">
    <header>
      <h2>{{ $imagetitle }}</h2>
    </header>
    <a href="{{ .Permalink }}" title="{{ $imagetitle }}">
      <img src="{{ ($image.Fill "300x300 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
    </a>
  </article>
{{ end }}
</div>

</div>
{{ end }}