{{- if .Site.IsMultiLingual -}}
  {{- $currentPage := .  -}}{{/* build a map from langCode->translationForCurrentPage */}}
  {{- $cpt := dict -}}
  {{- range $currentPage.Translations -}}
  {{- $cpt = merge $cpt (dict .Language.Lang .) -}}
  {{- end -}}
  {{- range site.Home.AllTranslations -}}
    {{- $sameLanguage := eq $currentPage.Language.Lang .Language.Lang }}
    <li class="nav-item{{ if $sameLanguage }} active{{ end }}">
      {{ $flag := partial "helpers/get-flag-for-country.htm" .Language -}}
      {{- if $sameLanguage -}}
        <a class="nav-link fi fi-{{ $flag }}" href="{{ $currentPage.RelPermalink }}" aria-label='{{ i18n "current-language" }}{{ .Language }}'></a>
      {{- else -}}{{/* pick the page translation matching outer loop */}}
        {{- $t := index $cpt .Language.Lang -}}
        <a class="nav-link fi fi-{{ $flag }}" href="{{ $t.RelPermalink }}" aria-label='{{ i18n "change-language" }}{{ .Language.Lang }}'></a>
      {{- end }}
    </li>
  {{- end }}
{{- end -}}
