<button class="mobile-nav-toggle" aria-controls="primary-navigation">
  <span class="sr-only" role="button" aria-expanded="false">Menu</span>
</button>
<nav>
  <ul class="primary-navigation underline-indicators flex" id="primary-navigation" data-visible="false">
    {{- $page := .Page -}}
    {{- range .Site.Menus.main -}}
    {{- $active := (or (and $page.IsHome (eq .URL "/")) (eq (printf "/%s/" $page.Type) .URL)) }}
    <a class="nav-link" href="{{ .URL | absLangURL }}">
      <li class="nav-item{{ if $active }} active{{ end }}">
      {{- $dir := site.Language.LanguageDirection | default "ltr" -}}
      {{- if eq $dir "ltr" -}}{{ partial "header/nav-item-icon.html" . }}{{- end -}}
      {{- $text := print .Name | safeHTML -}}
      {{ $text -}}
      {{- if ne $dir "ltr" -}}{{ partial "header/nav-item-icon.html" . }}{{- end -}}
      </li>
    </a>
    {{- end -}}
    {{ partial "header/language-selector.html" . }}
  </ul>
</nav>