{{- with $.Page.Site.Params.googleRecaptchaSitekey -}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{- end -}}
{{- with $.Page.Site.Params.contactformurl -}}
<form accept-charset="UTF-8" action="{{ . }}" method="POST" class="contact-form" 
enctype="multipart/form-data">

  <div>
    <p aria-hidden="true">
    {{- $dir := site.Language.LanguageDirection | default "ltr" -}}
    {{- if eq $dir "ltr" -}}<span class="required-field">*</span> {{ end -}}
    {{ i18n "contact-form-required-warning" }}
    {{- if ne $dir "ltr" }} <span class="required-field">*</span>{{- end -}}
    </p>
  </div>

  <div>
    <label for="name">{{ i18n "contact-form-label-name" }}</label>
    <span class="required-field" aria-hidden="true">*</span>
    <br>
    <input type="text" name="name" id="name" maxlength="100" autocomplete="true" spellcheck="false" placeholder='{{ i18n "contact-form-placeholder-name" }}' required aria-required="true">
  </div>

  <div>
    <label for="name">{{ i18n "contact-form-label-email" }}</label>
    <span class="required-field" aria-hidden="true">*</span>
    <br>
    <input type="email" name="email" id="email" autocomplete="true" spellcheck="false" placeholder='{{ i18n "contact-form-placeholder-email" }}' required aria-required="true">
  </div>
  
  <div>
    <label for="name">{{ i18n "contact-form-label-message" }}</label>
    <span class="required-field" aria-hidden="true">*</span>
    <br>
    <textarea name="message" id="message" rows="5" autocomplete="false" spellcheck="true" placeholder='{{ i18n "contact-form-placeholder-message" }}' required aria-required="true"></textarea>
  </div>
  
  {{- with $.Page.Site.Params.googleRecaptchaSitekey -}}
  <div class="g-recaptcha" data-sitekey="{{ . }}" hl="{{ $.Page.Site.Language.Lang }}"></div>
  {{- end -}}

  <div>
    <button type="submit">{{ i18n "contact-form-button-send" }}</button>
  </div>

</form>
{{- end -}}